@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffdecf; /* Warna fallback untuk browser yang tidak mendukung gradien */

  background-image: url("../../public/assets/img/background.webp");
  background-size: cover; /* Scale the background image to be as large as possible */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: top, center; /* Center the background image */
  background-attachment: fixed;
  height: 90vh; /* Full viewport height */
  width: 100%; /* Full width */
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
  height: 1px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #ffcfcf; /* Color of the scrollbar thumb */
  border-radius: 1px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #ffb2b2; /* Color when hovered */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: #ff9696 #f1f1f1; /* Thumb and track color */
}

/* Custom keyframes for the background color transition */
@keyframes bgColorTransitionGreen {
  0% {
    background-color: #ff7e9e;
  }
  100% {
    background-color: #22c55e;
    color: #f1f1f1;
  } /* green-500 */
}

@keyframes bgColorTransitionRed {
  0% {
    background-color: #ff7e9e;
  }
  100% {
    color: #f1f1f1;
    background-color: #b91c1c;
  } /* red-700 */
}

.animated-bg-green {
  animation: bgColorTransitionGreen 0.5s forwards;
}

.animated-bg-red {
  animation: bgColorTransitionRed 0.5s forwards;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Base animation class */
.bouncing-element {
  animation: bounce 2s infinite;
}

/* Delay classes */
.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

.delay-4 {
  animation-delay: 0.8s;
}

@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.sakura {
  position: fixed;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fall 5s linear infinite;
  opacity: 0;
}

.sakura-1 {
  background-image: url("/assets/img/sakura-1.webp");
}

.sakura-2 {
  background-image: url("/assets/img/sakura-2.webp");
}

.sakura-3 {
  background-image: url("/assets/img/sakura-3.webp");
}

.sakura-4 {
  background-image: url("/assets/img/sakura-4.webp");
}

.sakura:nth-child(1) {
  left: 10%;
  animation-duration: 7s;
  animation-delay: 1s;
}
.sakura:nth-child(2) {
  left: 20%;
  animation-duration: 8s;
  animation-delay: 2s;
}
.sakura:nth-child(3) {
  left: 30%;
  animation-duration: 6s;
  animation-delay: 3s;
}
.sakura:nth-child(4) {
  left: 40%;
  animation-duration: 9s;
  animation-delay: 4s;
}
.sakura:nth-child(5) {
  left: 50%;
  animation-duration: 7s;
  animation-delay: 0s;
}
.sakura:nth-child(6) {
  left: 60%;
  animation-duration: 8s;
  animation-delay: 1s;
}
.sakura:nth-child(7) {
  left: 70%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.sakura:nth-child(8) {
  left: 80%;
  animation-duration: 9s;
  animation-delay: 3s;
}
.sakura:nth-child(9) {
  left: 90%;
  animation-duration: 7s;
  animation-delay: 4s;
}
