@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: radial-gradient(circle, #ede1d5 28%, #ed7e7e 86%); */
  background-image: url("@assets/img/background.png");
  background-size: cover; /* Scale the background image to be as large as possible */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: initial; /* Center the background image */
  height: 90vh; /* Full viewport height */
  width: 100%; /* Full width */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
